Website/Trunk/Source Code/PaulStovell.TrialBalance.Website.UploadBuildTask/Web References/FilePublishingServiceProxy/FilePublishingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://download.trialbalance.net.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://download.trialbalance.net.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://download.trialbalance.net.au/">
      <s:element name="UploadManagedFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadManagedFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadManagedFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadUnmanagedFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadUnmanagedFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadManagedFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadManagedFile" />
  </wsdl:message>
  <wsdl:message name="UploadManagedFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadManagedFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadUnmanagedFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadUnmanagedFile" />
  </wsdl:message>
  <wsdl:message name="UploadUnmanagedFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadUnmanagedFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FilePublishingServiceSoap">
    <wsdl:operation name="UploadManagedFile">
      <wsdl:input message="tns:UploadManagedFileSoapIn" />
      <wsdl:output message="tns:UploadManagedFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadUnmanagedFile">
      <wsdl:input message="tns:UploadUnmanagedFileSoapIn" />
      <wsdl:output message="tns:UploadUnmanagedFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilePublishingServiceSoap" type="tns:FilePublishingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadManagedFile">
      <soap:operation soapAction="http://download.trialbalance.net.au/UploadManagedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadUnmanagedFile">
      <soap:operation soapAction="http://download.trialbalance.net.au/UploadUnmanagedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilePublishingServiceSoap12" type="tns:FilePublishingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadManagedFile">
      <soap12:operation soapAction="http://download.trialbalance.net.au/UploadManagedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadUnmanagedFile">
      <soap12:operation soapAction="http://download.trialbalance.net.au/UploadUnmanagedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilePublishingService">
    <wsdl:port name="FilePublishingServiceSoap" binding="tns:FilePublishingServiceSoap">
      <soap:address location="http://download.trialbalance.net.au/Services/FilePublishingService.asmx" />
    </wsdl:port>
    <wsdl:port name="FilePublishingServiceSoap12" binding="tns:FilePublishingServiceSoap12">
      <soap12:address location="http://download.trialbalance.net.au/Services/FilePublishingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>